.c-fbx-example {
    position: absolute;
    left: 20%;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: grab;

    .is-white & {
        left: 0;
        width: 140%;
    }

    &.js-model-container-shader {
        left: 0;
    }
}

.c-fbx-example-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
